.menu-link {

    padding: 10px 20px;
    /* Ajusta el tamaño de padding según tus necesidades */
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
}

.menu-link:hover {
    background-color: #3B82E7;
    color: #fff;
    border-radius: 5px;
}

@media (max-width: 1100px) {


    .menu-link {
        font-size: 14px
    }

    .imagen-enlace {
        width: 75%;
    }
}

@media (max-width: 1200px) {
    .button {
        display: none;
    }


}