<nav class="w-full z-50 relative lg:hidden md:hidden sm:block">
  <div
    [ngClass]="
      isScrolled
        ? 'w-full flex flex-wrap items-center justify-between mx-auto p-4 fixed sm:px-[1rem] lg:px-[2rem] bg-white  '
        : 'w-full flex flex-wrap items-center justify-between mx-auto p-4 fixed sm:px-[1rem] lg:px-[2rem]  bg-white '
    "
  >
    <a href=""></a>
    <!-- <a routerlink="" class="imagen-enlace">
      <img src="./assets/LogoJunasoft.webp" alt="Logo Junasoft" />
    </a> -->
    <button
      (click)="toggleSidebar()"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg lg:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-14 h-14"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div
      class="hidden w-full md:w-auto"
      [class.hidden]="!sidebarOpen"
      id="navbar-default"
    >
      <ul
        class="font-monserrat flex flex-col p-4 md:p-0 gap-2 mt-4 rounded-lg md:flex-row md:mt-0 md:border-0 lg:bg-transparent md:bg-transparent sm:bg-black"
      >
        <li class="font-bold">
          <a
            routerLink="/"
            class="menu-link w-full flex items-center gap-2"
            routerLinkActive="bg-blue-500 shadow-md"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            <i
              class="fa-solid fa-arrow-right-long lg:hidden md:hidden sm:block text-white w-5"
            ></i>
            <span>Inicio</span>
          </a>
        </li>

        <li class="font-bold">
          <a
            routerLink="/ver-menu"
            class="menu-link w-full flex items-center gap-2"
            routerLinkActive="bg-blue-500 shadow-md"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            <i
              class="fa-solid fa-arrow-right-long lg:hidden md:hidden sm:block text-white w-5"
            ></i>
            <span>Ver menú</span>
          </a>
        </li>
        <li class="font-bold">
          <a
            routerLink="/wifi"
            class="menu-link w-full flex items-center gap-2"
            routerLinkActive="bg-blue-500 shadow-md"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            <i
              class="fa-solid fa-arrow-right-long lg:hidden md:hidden sm:block text-white w-5"
            ></i>
            <span>Wifi</span>
          </a>
        </li>
        <li class="font-bold">
          <a
            routerLink="/proyectos"
            class="menu-link w-full flex items-center gap-2"
            routerLinkActive="bg-blue-500 shadow-md"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            <i
              class="fa-solid fa-arrow-right-long lg:hidden md:hidden sm:block text-white w-5"
            ></i>
            <span>Dejar reseña</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
