<div class="relative flex w-full h-screen">
  <section class="h-screen w-full">
    <div
      class="py-16 hero sm:px-[1rem] lg:px-[2rem] mx-auto h-screen text-center relative"
    >
      <div
        class="h-screen py-4 text-center text-white w-full flex flex-col font-nunito gap-y-4"
      >
        <div class="flex w-full flex-col items-center justify-center gap-y-4">
          <img
            src="./assets/logojunasoft.png"
            class="h-28 object-fill w-28 rounded-full"
            alt=""
          />
          <h3 class="text-white">Junasoft</h3>
          <h3 class="text-white font-medium">¡Bienvenido!</h3>
        </div>
        <div
          class="flex w-full gap-x-4 text-white text-3xl my-4 justify-center"
        >
          <i
            class="fa-brands fa-instagram cursor-pointer hover:text-rose-500"
          ></i>
          <i
            class="fa-brands fa-whatsapp cursor-pointer hover:text-green-500"
          ></i>
          <i
            class="fa-brands fa-facebook cursor-pointer hover:text-blue-500"
          ></i>
        </div>
        <div
          class="flex flex-col gap-y-4 opciones uppercase lg:text-base md:text-base sm:text-sm font-bold mx-auto"
        >
          <!-- menu qr -->
          <a href="/ver-menu">
            <div
              class="bg-black contain text-white flex justify-center items-center rounded-lg py-4 drop-shadow"
            >
              <p>ver menú</p>
            </div>
          </a>
          <!-- wifi gratis -->
          <!-- <a href="/llenar-datos">
            <div
              class="bg-black contain text-white flex justify-center items-center rounded-lg py-4 drop-shadow"
            >
              <p>wifi</p>
            </div>
          </a> -->
          <!-- reseñas -->
          <!-- <a href="/calificacion">
            <div
              class="bg-black contain text-white flex justify-center items-center rounded-lg py-4 drop-shadow"
            >
              <p>dejar reseña</p>
            </div>
          </a> -->
        </div>
      </div>
    </div>
  </section>
</div>
