<app-sidebar></app-sidebar>
<div class="w-full h-screen flex p-4 gap-x-4 mt-16 bg-[#F7F9FC]">
  <div class="lg:ml-56 md:ml-56 max-w-[125vh] w-[125vh]">
    <div class="p-4 border rounded-lg bg-white">
      <div class="p-toolbar-group-start">
        <nav class="flex" aria-label="Breadcrumb">
          <ol
            class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse font-medium"
          >
            <li class="flex items-center uppercase">productos</li>

            <li class="flex items-center uppercase" *ngIf="!isEdit">
              <div class="flex items-center">
                <svg
                  class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
                nuevo producto
              </div>
            </li>
            <li class="flex items-center uppercase" *ngIf="isEdit">
              <div class="flex items-center">
                <svg
                  class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
                editar producto
              </div>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div
      class="flex items-center justify-between bg-gray-800 rounded-t-lg p-2 mt-6 -z-50"
    >
      <h3 class="text-white uppercase" *ngIf="!isEdit">Nuevo producto</h3>
      <h3 class="text-white uppercase" *ngIf="isEdit">Editar producto</h3>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg p-4 bg-white">
      <form
        class="my-2"
        [formGroup]="frmAddEditProducto"
        *ngIf="!mostrarSkeleton"
      >
        <!-- DATOS DEL PRODUCTO -->
        <fieldset class="border border-solid border-gray-300 p-3 mt-2">
          <legend class="text-lg font-bold px-2 uppercase">
            Datos de la producto
          </legend>
          <!-- id -->
          <div class="flex-col gap-y-2 hidden">
            <label class="block mb-2 text-sm font-medium text-white">Id</label>
            <input
              type="number"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
              placeholder="Id"
              formControlName="idProducto"
            />
          </div>
          <div
            class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4 mb-6"
          >
            <!-- NOMBRE -->
            <div class="">
              <label
                for="titulo"
                class="block mb-2 text-sm font-medium text-gray-900 uppercase"
                >título
              </label>
              <input
                type="text"
                id="titulo"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Ingrese el titulo del producto"
                formControlName="titulo"
                [class.invalido]="
                  controlTitulo.touched && controlTitulo.invalid
                "
                [ngClass]="
                  controlTitulo.touched && controlTitulo.invalid
                    ? 'alert placeholder:text-sm '
                    : 'rounded-lg focus:outline-none text-black placeholder:text-sm'
                "
              />
              <small
                class="alert-panel alert-danger"
                role="alert"
                *ngIf="controlTitulo.touched && controlTitulo.invalid"
              >
                El titulo es requerido.
              </small>
            </div>
            <!-- precio -->
            <div class="">
              <label
                for="precio"
                class="block mb-2 text-sm font-medium text-gray-900 uppercase"
                >Precio
              </label>
              <input
                type="number"
                id="precio"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Ingrese el precio"
                formControlName="precio"
                [class.invalido]="
                  controlPrecio.touched && controlPrecio.invalid
                "
                [ngClass]="
                  controlPrecio.touched && controlPrecio.invalid
                    ? 'alert placeholder:text-sm'
                    : 'rounded-lg focus:outline-none text-black placeholder:text-sm'
                "
              />
              <small
                class="alert-panel alert-danger"
                role="alert"
                *ngIf="controlPrecio.touched && controlPrecio.invalid"
              >
                El precio es requerido.
              </small>
            </div>
            <!-- CATEGORIA -->
            <div class="flex flex-col">
              <label
                for="idCategoria"
                class="block mb-2 text-sm font-medium text-gray-900 uppercase"
                >CATEGORÍA</label
              >
              <p-dropdown
                optionLabel="nombreCategoria"
                id="idCategoria"
                [options]="categorias"
                [(ngModel)]="selectedCategoria"
                filterBy="nombreCategoria"
                [filter]="true"
                optionValue="idCategoria"
                [showClear]="true"
                placeholder="Seleccionar categoría"
                formControlName="idCategoria"
                appendTo="body"
                [style]="{
                  width: '100%',
                  'background-color': '#F9FAFB',
                  height: '42px',
                  display: 'flex',
                  'align-items': 'center',
                  'border-radius': '8px',
                  border:
                    '1px solid rgb(209 213 219 / var(--tw-border-opacity))'
                }"
                [class.invalido]="
                  controlCategoria.touched && controlCategoria.invalid
                "
                [ngClass]="
                  controlCategoria.touched && controlCategoria.invalid
                    ? 'border border-red-500 rounded-lg'
                    : 'rounded-lg focus:outline-none text-black placeholder:text-sm'
                "
              >
                <ng-template let-l pTemplate="item">
                  <div class="l-item">
                    <div>{{ l.nombreCategoria }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <small
                class="alert-panel alert-danger"
                role="alert"
                *ngIf="controlCategoria.touched && controlCategoria.invalid"
              >
                Seleccione una opción.
              </small>
            </div>
            <!-- CELIACO -->
            <div
              class="flex mb-6 items-start lg:col-span-2 md:col-span-2 sm:col-span-1"
            >
              <div class="flex items-center h-5">
                <input
                  id="isCeliaco"
                  type="checkbox"
                  formControlName="isCeliaco"
                  value=""
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-red-300"
                />
              </div>
              <label
                for="isCeliaco"
                class="ms-2 text-sm font-medium text-gray-900"
                >Es Celiaco</label
              >
            </div>
            <!-- VEGANO -->
            <div
              class="flex mb-6 items-start lg:col-span-2 md:col-span-2 sm:col-span-1"
            >
              <div class="flex items-center h-5">
                <input
                  id="isVegano"
                  type="checkbox"
                  formControlName="isVegano"
                  value=""
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-red-300"
                />
              </div>
              <label
                for="isVegano"
                class="ms-2 text-sm font-medium text-gray-900"
                >Es Vegano</label
              >
            </div>
            <!-- VEGETARIANO -->
            <div
              class="flex mb-6 items-start lg:col-span-2 md:col-span-2 sm:col-span-1"
            >
              <div class="flex items-center h-5">
                <input
                  id="isVegetariano"
                  type="checkbox"
                  formControlName="isVegetariano"
                  value=""
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-red-300"
                />
              </div>
              <label
                for="isVegetariano"
                class="ms-2 text-sm font-medium text-gray-900"
                >Es Vegetariano</label
              >
            </div>
            <!-- DESCIPCION -->
            <div
              class="flex flex-col lg:col-span-2 md:col-span-2 sm:col-span-1"
            >
              <label
                for="motivo"
                class="block mb-2 text-sm font-medium uppercase"
                >Descripción</label
              >
              <textarea
                id="motivo"
                rows="6"
                formControlName="descripcion"
                class="block p-2.5 w-full text-sm resize-none text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Descripción..."
                [class.invalido]="
                  controlDescripcion.touched && controlDescripcion.invalid
                "
                [ngClass]="
                  controlDescripcion.touched && controlDescripcion.invalid
                    ? 'border border-red-500 rounded-lg'
                    : 'rounded-lg focus:outline-none text-black placeholder:text-sm'
                "
              ></textarea>
              <small
                class="alert-panel alert-danger"
                role="alert"
                *ngIf="controlDescripcion.touched && controlDescripcion.invalid"
              >
                La descripción es requerida.
              </small>
            </div>
            <!-- IMAGENES -->
            <div
              class="flex flex-col lg:col-span-2 md:col-span-2 sm:col-span-1"
            >
              <label
                class="block mb-2 text-sm font-medium text-gray-900 uppercase"
                for="file_input"
              >
                Imágenes
              </label>
              <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50"
                id="file_input"
                type="file"
                (change)="onFileSelected($event)"
                multiple
              />
            </div>
            <!-- ARCHIVOS EN LISTA -->
            <div *ngIf="selectedFiles.length > 0" class="mb-2">
              <p class="block text-sm font-medium text-gray-900">
                Archivos seleccionados
              </p>
              <ul>
                <li
                  *ngFor="let file of selectedFiles; let i = index"
                  class="flex items-center text-sm cursor-default"
                >
                  <button
                    (click)="removeFile(i)"
                    class="text-red-500 hover:text-red-600 px-3 py-2 rounded hover:bg-slate-200"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <span class="text-blue-500 hover:underline">{{
                    file.name
                  }}</span>
                </li>
              </ul>
            </div>
            <!-- ARCHIVOS -->
            <div
              class="flex flex-col gap-2 mb-6"
              *ngIf="isEdit && archivos.length > 0"
            >
              <p class="block text-sm font-medium text-gray-900">
                Archivos existentes
              </p>
              <ul>
                <li
                  *ngFor="let archivo of archivos; let i = index"
                  class="flex items-center mb-2 text-sm"
                >
                  <button
                    (click)="removeArchivo(i)"
                    class="text-red-500 hover:text-red-600 px-3 py-1 rounded hover:bg-slate-200"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <a
                    [href]="archivo"
                    target="_blank"
                    class="text-blue-500 hover:underline mr-2"
                    >{{ getFileName(archivo) }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- BOTON GUARDAR -->
          <button
            type="submit"
            class="text-white mt-2 bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center lg:w-auto md:w-auto sm:w-full"
            *ngIf="!isEdit && !loading"
            (click)="onSave()"
          >
            <i class="fa-regular fa-floppy-disk mr-1"></i>

            Guardar
          </button>
          <!-- BOTON GUARDADNO -->
          <button
            type="submit"
            class="text-white bg-green-600 hover:bg-green-700 lg:w-auto md:w-auto w-full focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            *ngIf="!isEdit && loading"
          >
            <svg
              aria-hidden="true"
              role="status"
              class="inline w-4 h-4 me-3 text-white animate-spin"
              viewBox="0 0 100 101"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                fill="#E5E7EB"
              />
              <path
                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                fill="currentColor"
              />
            </svg>
            Guardando..
          </button>
          <!-- SECCION EDITAR -->
          <div
            class="lg:flex md:flex sm:block gap-2 lg:w-auto md:w-auto w-full space-y-2"
          >
            <!-- BOTON EDITAR -->
            <button
              type="submit"
              class="text-white lg:w-auto md:w-auto mt-2 w-full bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              *ngIf="isEdit"
              (click)="onUpdate()"
            >
              <i class="fa-regular fa-floppy-disk mr-1"></i>

              Guardar cambios
            </button>
            <app-boton-cancelar *ngIf="isEdit"></app-boton-cancelar>
          </div>
        </fieldset>
      </form>
      <!-- Skeleton -->
      <div *ngIf="mostrarSkeleton && isEdit">
        <app-skeleton-grid></app-skeleton-grid>
      </div>
    </div>
  </div>
  <div
    class="h-full w-[300px] flex flex-col gap-y-4 rounded-lg lg:block md:hidden sm:hidden"
  >
    <app-panel-right></app-panel-right>
  </div>
</div>
